ion-label{
    font-size: 1.2rem !important;
}

ion-badge.ios.status{
    padding: 10px;
    border-radius: 50px;
    margin-bottom: 5px;
}

ion-text.status-text{
    color: white !important;
}

.button-grouping{
 
}
ion-input > input {
    width: 100% !important;
}
.anchor-bottom{
    position: fixed;
    bottom: 0;
    /* display: block; */
    width: 100%;
    background-color: rgba(0, 0, 0, 0.137);
    z-index: 9999;
}
.text-align-center {
    text-align: center !important;
}
ion-select{
    width:100%;
    max-width: none;
}

.readonly-fields{
    
}
ion-item > div:not(.photo-icon) {
    width: 80% !important;
}

ion-item {
    position: relative;
}

.photo-icon {
    position: absolute;
    right: 0.5em;
    top: 0.4em;
    font-size: 3em;
    display: inline-flex;
}

.section{
    //display: none !important;
    visibility: hidden !important;
    opacity: 0;
    height: 0px;
    transition: all 2s ease, height 1s ease;
}
.section-active{
   // display: block !important;
    visibility: visible;
    opacity: 1;
    //height: 150px;
    height: max-content;
    max-height: auto;
    transition: all 2s ease, height 1s ease;
}

.blockheader{
    //background-color: #F4782B;
   color: white !important;
}

.blockheader_2{
    background-color: #F4782B;
    --background: #F4782B;
    --color: white;
    color: white !important;
}

table.tableizer-table {
    font-size: 12px;
    border: 1px solid #CCC; 
    font-family: Arial, Helvetica, sans-serif;
border-radius: 5px;
} 
.tableizer-table td {
    padding: 4px;
    margin: 3px;
    border: 1px solid #CCC;
}
.tableizer-table th {
    background-color: #00954C; 
    color: #FFF;
    font-weight: bold;
}

.orange{
    background-color: #DF782B;
    color: white;
}

.table-input{
    width: 70px;
}