<ion-header>
    <ion-toolbar text-center>
        <ion-title>{{modalTitle}}</ion-title>
        <ion-icon name="close" (click)="closeModal()" size="large"></ion-icon>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <!-- <form #form="ngForm"  (ngSubmit)="uploadImage(form)"> -->
        <ion-input type="text" hidden ng-show="false" [(ngModel)]="photo.serviceid" name="serviceid" value="{{serviceid}}"></ion-input>
        <ion-input type="text" hidden ng-show="false" [(ngModel)]="photo.columnname" name="columnname" value="{{columnname}}"></ion-input>
        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>Image Preview</ion-card-subtitle>
            </ion-card-header>
            <img *ngIf="is_delete === true"  class = "img-load" #img src="{{this.apiurl.replace('phoneapi/','')}}{{base64Image}}" (load)="updateCanvas($event)"/>
            <img *ngIf="is_delete !== true"  class = "img-load" #img src="{{base64Image}}" (load)="updateCanvas($event)"/>
            <div class = "ion-canvas">
                <canvas id = 'canvas' ></canvas>
            </div>
            <div class = "btn-selection-draw" >
                <div *ngFor="let btn of btnList"
                    (click)="drawBtnSelect(btn.name)"
                    [ngClass]="elementSelected === btn.name ? 'primary' : 'secondary'">
                    
                    <ion-icon *ngIf="btn.name !== 'text'" name="{{btn.class}}"></ion-icon>
                    <svg *ngIf = "btn.name == 'text'" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="font" class="svg-inline--fa fa-font fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M432 416h-23.41L277.88 53.69A32 32 0 0 0 247.58 32h-47.16a32 32 0 0 0-30.3 21.69L39.41 416H16a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h128a16 16 0 0 0 16-16v-32a16 16 0 0 0-16-16h-19.58l23.3-64h152.56l23.3 64H304a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h128a16 16 0 0 0 16-16v-32a16 16 0 0 0-16-16zM176.85 272L224 142.51 271.15 272z"></path></svg>
                </div>
            </div>

            <ion-input type="text"  ng-show="false" [(ngModel)]="photo.base64Image" name="base64Image" value="{{base64Image}}"></ion-input>
            <div *ngIf="is_delete !== true">
                <ion-card-header>
                    <ion-card-subtitle>
                        <ion-label position="stacked">Image Description</ion-label>
                    </ion-card-subtitle>
                </ion-card-header>

                <ion-card-content>
                    <ion-input type="text" oninput="" size="100" required="" [(ngModel)]="photo.title" name="notecontent" class="title-input" placeholder="Enter a description..."></ion-input>
                </ion-card-content>
            </div>
        </ion-card>
        <div class="button-grouping ion-padding">
            <ion-button *ngIf="is_delete !== true" size="large" expand="block" color="primary" type="submit">
                <ion-text>Save</ion-text>
            </ion-button>
            <ion-button *ngIf="is_delete === true" size="large" expand="block" color="danger" type="submit">
                <ion-text>Delete</ion-text>
            </ion-button>
        </div>
    <!-- </form> -->
</ion-content>