.checklist-helper{
  cursor: pointer;
}

.checklist-thumb-list{
  display: inline-block;
  margin: 0px 5px;
}

.checklist-thumb{
  height: 55px;
  width: 65px;
}

.checklist-thumb img{
  border-radius: 5px;
}

.hide{
  display: none;
}

.helper-text-box{
  font-size: 15px;
  color: #606060;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
}