.checklist-helper{
  cursor: pointer;
}

.checklist-thumb-list{
  display: inline-block;
  margin: 0px 5px;
}

.checklist-thumb{
  font-size: 3rem;
  width: 55px;
  height: 75px;
}

.checklist-thumb img{
  border-radius: 5px;
}

.hide{
  display: none;
}

.helper-text-box{
  font-size: 15px;
  color: #606060;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
}

.item-inner {
  position: relative;

}

.camera-holder {
  position: absolute;
  right: 0;
}