<ion-header>
    <ion-toolbar text-center>
        <ion-title style="display: inline-block;">{{modalTitle}}</ion-title>
        <ion-icon name="close" (click)="closeModal()" size="large" style="float: right;"></ion-icon>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <form #form="ngForm"  (ngSubmit)="completeOrder(serviceid)">
        <ion-grid>
            <ion-item-group *ngFor="let service of servicedetail" style="align-items: center;margin-bottom: 25px">
                <ion-item lines="none">
                    <ion-label position="stacked" style="margin-bottom: 10px;">
                        <ion-text>
                            {{service.fieldlabel}}  
                            <ion-icon name="help-circle-outline" (click)="toggleHelper(service.columnname)" class="checklist-helper" *ngIf="service.helpinfo.long != ''"></ion-icon>
                        </ion-text>
                        <ion-text class = "short-description">{{service.helpinfo.short}}</ion-text>
                        <ion-text *ngIf="service.helpinfo.long != '' && checklisthelper[service.columnname] == 1" lines="none" class="helper-text-box" [innerHTML]="service.helpinfo.long"></ion-text> 
                    </ion-label>
                    <ion-textarea *ngIf="!service.img"  (ionBlur)="addUpdate($event)" name = "{{service.columnname}}" value = "{{service.notes}}"></ion-textarea>
                    <ul *ngIf="service.img">
                        <li *ngFor="let thumb of service.images" class="checklist-thumb-list">
                            <ion-thumbnail class="checklist-thumb" (click)="openViewModal(thumb,service.columnname)"> <img src="{{this.apiurl.replace('phoneapi/','')}}{{thumb.imgpath}}"> </ion-thumbnail>
                        </li>
                        <li class="checklist-thumb-list photo-icon" (click)="openActionSheet(service.columnname)">
                            <ion-icon name="camera" ></ion-icon>
                            <ion-text>Add Image</ion-text>
                        </li>
                    </ul>
                </ion-item>
            </ion-item-group>
        </ion-grid>
    </form>
    <div class = "close-btn" (click)="closeModal()">Done</div>
</ion-content>