.checklist-helper{
  cursor: pointer;
}

.checklist-thumb-list{
  display: inline-block;
  margin: 0px 5px;
}

.checklist-thumb{
  height: 55px;
  width: 65px;
}

.checklist-thumb img{
  border-radius: 5px;
}

.hide{
  display: none;
}